{{ template "header.html" }}

        <div class="content">
          <!-- <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5 col-md-4">
                      <div class="icon-big text-center icon-warning">
                        <i class="nc-icon nc-globe text-warning"></i>
                      </div>
                    </div>
                    <div class="col-7 col-md-8">
                      <div class="numbers">
                        <p class="card-category">Capacity</p>
                        <p class="card-title">100GB</p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <hr />
                  <div class="stats">
                    <i class="fa fa-refresh"></i>
                    Update Now
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5 col-md-4">
                      <div class="icon-big text-center icon-warning">
                        <i class="nc-icon nc-money-coins text-success"></i>
                      </div>
                    </div>
                    <div class="col-7 col-md-8">
                      <div class="numbers">
                        <p class="card-category">Revenue</p>
                        <p class="card-title">$ 1,345</p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <hr />
                  <div class="stats">
                    <i class="fa fa-calendar-o"></i>
                    Last day
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5 col-md-4">
                      <div class="icon-big text-center icon-warning">
                        <i class="nc-icon nc-vector text-danger"></i>
                      </div>
                    </div>
                    <div class="col-7 col-md-8">
                      <div class="numbers">
                        <p class="card-category">Errors</p>
                        <p class="card-title">23</p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <hr />
                  <div class="stats">
                    <i class="fa fa-clock-o"></i>
                    In the last hour
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5 col-md-4">
                      <div class="icon-big text-center icon-warning">
                        <i class="nc-icon nc-favourite-28 text-primary"></i>
                      </div>
                    </div>
                    <div class="col-7 col-md-8">
                      <div class="numbers">
                        <p class="card-category">Followers</p>
                        <p class="card-title">+45K</p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <hr />
                  <div class="stats">
                    <i class="fa fa-refresh"></i>
                    Update now
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>

        <div class="content">
          <section class="section">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="section-heading">
                    <h2><strong>BIOFARMA DAN HOLDING</strong></h2>
                    <!-- <p>Katalog Aplikasi Biofarma dan Holding</p> -->
                  </div>
                </div>

                <!-- <div class="col-lg-12 d-flex justify-content-end">
                  <ul
                    class="col container-filter portfolioFilte list-unstyled mb-0"
                    id="filter1"
                  >
                    <li>
                      <a class="categories active" data-filter="*">All</a>
                    </li>
                    <li>
                      <a class="categories" data-filter=".branding">Branding</a>
                    </li>
                    <li>
                      <a class="categories" data-filter=".design">Design</a>
                    </li>
                    <li>
                      <a class="categories" data-filter=".photo">Photo</a>
                    </li>
                    <li>
                      <a class="categories" data-filter=".coffee">coffee</a>
                    </li>
                    <li>
                      <a class="categories" data-filter=".finance">finance</a>
                    </li>
                  </ul>
                  <a href="tables.html" class="view-all-link">View All</a>
                </div> -->
              </div>

              <div class="port portfolio-masonry mt-4">
                <div class="portfolioContainer1 row photo">
                  <div class="col-lg-4 p-4">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/00FFFF/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Branding</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Nonsensical content
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 branding coffee">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/7FFF00/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Coffee</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              PageMaker including
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 branding photo">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/FF8C00/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Lebles</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Sometime Active
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 branding design photo">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/FF1493/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Card</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Therefore Always
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 design photo">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/9400D3/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Pepers</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Therefore Always
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 branding design coffee">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/20B2AA/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Bottle</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Therefore Always
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 branding design">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/FF4500/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Watch</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Sometime Active
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 branding design photo coffee">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/EE82EE/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Milk</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Sometime Active
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 branding design photo coffee">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/FF00FF/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Milk</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Sometime Active
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 finance">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/EE82EE/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Milk</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Sometime Active
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <div class="content">
          <section class="section">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="section-heading">
                    <h2><strong>KIMIAFARMA</strong></h2>
                    <!-- <p>Katalog Aplikasi Kimiafarma</p> -->
                  </div>
                </div>

                <!-- <div class="col-lg-12">
                  <div class="text-center">
                    <ul
                      class="col container-filter portfolioFilte list-unstyled mb-0"
                      id="filter2"
                    >
                      <li>
                        <a class="categories active" data-filter="*">All</a>
                      </li>
                      <li>
                        <a class="categories" data-filter=".branding"
                          >Branding</a
                        >
                      </li>
                      <li>
                        <a class="categories" data-filter=".design">Design</a>
                      </li>
                      <li>
                        <a class="categories" data-filter=".photo">Photo</a>
                      </li>
                      <li>
                        <a class="categories" data-filter=".coffee">coffee</a>
                      </li>
                      <li>
                        <a class="categories" data-filter=".finance">finance</a>
                      </li>
                    </ul>
                  </div>
                </div> -->
              </div>

              <div class="port portfolio-masonry mt-4">
                <div class="portfolioContainer2 row photo">
                  <div class="col-lg-4 p-4">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/00FFFF/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Branding</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Nonsensical content
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 branding coffee">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/7FFF00/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Coffee</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              PageMaker including
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 branding photo">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/FF8C00/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Lebles</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Sometime Active
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 branding design photo">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/FF1493/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Card</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Therefore Always
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 design photo">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/9400D3/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Pepers</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Therefore Always
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 branding design coffee">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/20B2AA/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Bottle</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Therefore Always
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 branding design">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/FF4500/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Watch</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Sometime Active
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 branding design photo coffee">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/EE82EE/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Milk</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Sometime Active
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 branding design photo coffee">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/FF00FF/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Milk</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Sometime Active
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 finance">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/EE82EE/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Milk</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Sometime Active
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <div class="content">
          <section class="section">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="section-heading">
                    <h2><strong>INDOFARMA</strong></h2>
                    <!-- <p>Katalog Aplikasi Indofarma</p> -->
                  </div>
                </div>

                <!-- <div class="col-lg-12">
                  <div class="text-center">
                    <ul
                      class="col container-filter portfolioFilte list-unstyled mb-0"
                      id="filter3"
                    >
                      <li>
                        <a class="categories active" data-filter="*">All</a>
                      </li>
                      <li>
                        <a class="categories" data-filter=".branding"
                          >Branding</a
                        >
                      </li>
                      <li>
                        <a class="categories" data-filter=".design">Design</a>
                      </li>
                      <li>
                        <a class="categories" data-filter=".photo">Photo</a>
                      </li>
                      <li>
                        <a class="categories" data-filter=".coffee">coffee</a>
                      </li>
                      <li>
                        <a class="categories" data-filter=".finance">finance</a>
                      </li>
                    </ul>
                  </div>
                </div> -->
              </div>

              <div class="port portfolio-masonry mt-4">
                <div class="portfolioContainer3 row photo">
                  <div class="col-lg-4 p-4">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/00FFFF/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Branding</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Nonsensical content
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 branding coffee">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/7FFF00/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Coffee</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              PageMaker including
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 branding photo">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/FF8C00/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Lebles</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Sometime Active
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 branding design photo">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/FF1493/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Card</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Therefore Always
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 design photo">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/9400D3/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Pepers</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Therefore Always
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 branding design coffee">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/20B2AA/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Bottle</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Therefore Always
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 branding design">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/FF4500/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Watch</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Sometime Active
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 branding design photo coffee">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/EE82EE/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Milk</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Sometime Active
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 branding design photo coffee">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/FF00FF/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Milk</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Sometime Active
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-lg-4 p-4 finance">
                    <div class="item-box">
                      <a class="mfp-image" href="#" title="Project Name">
                        <img
                          class="item-container img-fluid"
                          src="https://www.bootdey.com/image/800x540/EE82EE/000000"
                          alt="work-img"
                        />
                        <div class="item-mask">
                          <div class="item-caption">
                            <p class="text-dark mb-0">Milk</p>
                            <h6 class="text-dark mt-1 text-uppercase">
                              Sometime Active
                            </h6>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <div class="content">
          <div class="row">
            <!-- <h3>cek</h3> -->
          </div>
        </div>

        <!-- </div> -->

       {{ template "footer.html" }}