{{ template "header.html" }}
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Perusahaan</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>No</th>
                      <th>Nama Perusahaan</th>
                      <th class="text-right">Aksi</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td>Biofarma</td>
                        <td class="text-right">
                          <button class="btn btn-danger">
                            <i class="nc-icon nc-simple-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>1.</td>
                        <td>Biofarma</td>
                        <td class="text-right">
                          <button class="btn btn-danger">
                            <i class="nc-icon nc-simple-remove"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Tambah Perusahaan</h4>
              </div>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <label for="namaPerusahaan">Nama Perusahaan</label>
                    <input type="text" class="form-control" id="namaPerusahaan" placeholder="Masukkan nama perusahaan">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- tabel kedua -->
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Anak Perusahaan</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>No</th>
                      <th>Nama Anak Perusahaan</th>
                      <th class="text-right">Aksi</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1.</td>
                        <td>Biofarma</td>
                        <td class="text-right">
                          <button class="btn btn-danger">
                            <i class="nc-icon nc-simple-remove"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>1.</td>
                        <td>Biofarma</td>
                        <td class="text-right">
                          <button class="btn btn-danger">
                            <i class="nc-icon nc-simple-remove"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Tambah Anak Perusahaan</h4>
              </div>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <label for="namaPerusahaan">Nama Anak Perusahaan</label>
                    <input type="text" class="form-control" id="namaPerusahaan" placeholder="Masukkan nama anak perusahaan">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- tabel ketiga -->
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Contract Status</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>No</th>
                      <th>Contract Status</th>
                      <th class="text-right">Aksi</th>
                    </thead>
                    <tbody>
                      <tr>
                       
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Tambah Contract Status</h4>
              </div>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <label for="namaPerusahaan">Contract Status</label>
                    <input type="text" class="form-control" id="contractstatus" placeholder="Masukkan Contract Status">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- tabel keempat -->
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Status</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>No</th>
                      <th>Contract Status</th>
                      <th class="text-right">Aksi</th>
                    </thead>
                    <tbody>
                      <tr>
                       
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Tambah Contract Status</h4>
              </div>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <label for="namaPerusahaan">Contract Status</label>
                    <input type="text" class="form-control" id="contractstatus" placeholder="Masukkan Contract Status">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


      {{ template "footer.html"}}