{{ template "header.html" }}
      <div class="content">
        <div class="container">
          <div class="content" style="padding-left: 150px;">
            <div class="row">
              <div class="col-md-8">
                <div class="card card-user">
                  <div class="card-header">
                    <h5 class="card-title">Tambah Aplikasi</h5>
                  </div>
                  <div class="card-body">
                    <form>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Nama</label>
                            <input type="text" class="form-control" placeholder="nama aplikasi" value="" name="nama_aplikasi">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-4 pr-1">
                          <div class="form-group">
                            <label>Tahun</label>
                            <input type="text" class="form-control" placeholder="Tahun" name="tahun">
                          </div>
                        </div>
                        <div class="col-md-4 px-1">
                          <div class="form-group">
                            <label>alias</label>
                            <input type="text" class="form-control" placeholder="Nama Lain Aplikasi" name="alias">
                          </div>
                        </div>
                        <div class="col-md-4 px-1">
                          <div class="form-group">
                            <label>status aplikasi</label>
                            <select class="form-control" name="perusahaan">
                              <option value="">Pilih status aplikasi</option>
                              <!-- Tambahkan opsi perusahaan di sini -->
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Perusahaan</label>
                            <select class="form-control" name="perusahaan">
                              <option value="">Pilih Perusahaan</option>
                              <!-- Tambahkan opsi perusahaan di sini -->
                            </select>
                          </div>
                        </div>
                      </div>                      

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Kategori Sistem</label>
                            <select class="form-control" name="kategori_sistem">
                              <option value="">Pilih Kategori Sistem</option>
                              <!-- Tambahkan opsi kategori sistem di sini -->
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" id="moduleFields">
                                <label>Modul</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Modul" name="module[]">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary btn-sm addModuleBtn" type="button">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                                <path d="M8 7V3a1 1 0 0 0-2 0v4H3a1 1 0 1 0 0 2h3v4a1 1 0 1 0 2 0V9h3a1 1 0 0 0 0-2H8z"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                      
                      <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Value Chain</label>
                                <div class="checkbox-column-row">
                                    <div class="checkbox-item"><input type="checkbox" name="valuechain" > valuechain 1</div>
                                    <div class="checkbox-item"><input type="checkbox" name="valuechain" > valuechain 2</div>
                                    <div class="checkbox-item"><input type="checkbox" name="valuechain" > valuechain 3</div>
                                    <div class="checkbox-item"><input type="checkbox" name="valuechain" > valuechain 4</div>
                                    <div class="checkbox-item"><input type="checkbox" name="valuechain" > valuechain 5</div>
                                    <div class="checkbox-item"><input type="checkbox" name="valuechain" > valuechain 6</div>
                                    <!-- Tambahkan lebih banyak kotak centang sesuai kebutuhan Anda -->
                                </div>
                            </div>
                        </div>
                      </div>

                    <div class="row">
                      <div class="col-md-4 pr-1">
                          <div class="form-group">
                              <label>Provider</label>
                              <select class="form-control" name="provider">
                                  <option value="">Pilih Provider</option>
                                  <!-- Tambahkan opsi lainnya di sini -->
                              </select>
                          </div>
                      </div>
                      <div class="col-md-4 px-1">
                          <div class="form-group">
                              <label>Contract Status</label>
                              <select class="form-control" name="contract_status">
                                  <option value="">Pilih Status Kontrak</option>
                                  <!-- Tambahkan opsi lainnya di sini -->
                              </select>
                          </div>
                      </div>
                      <div class="col-md-4 pl-1">
                          <div class="form-group">
                              <label>Asset Status</label>
                              <select class="form-control" name="asset_status">
                                  <option value="">Pilih Status Aset</option>
                                  <!-- Tambahkan opsi lainnya di sini -->
                              </select>
                          </div>
                      </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Acquisition Cost</label>
                        <input type="text" class="form-control" placeholder="Rp. xxx.xxx,xx" name="aqcuistion_cost">
                      </div>
                    </div>
                  </div>

                  
                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label>Bussines Owner</label>
                        <input type="text" class="form-control" placeholder="" >
                      </div>
                    </div>
                    <div class="col-md-6 pl-1">
                      <div class="form-group">
                        <label>Development Vendor</label>
                        <select class="form-control" name="dev_vendor">
                          <option value="">Pilih Vendor</option>
                          <!-- Tambahkan opsi lainnya di sini -->
                      </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label>Dev Type</label>
                        <select class="form-control" name="dev_type">
                          <option value="">Pilih Dev Type</option>
                          <!-- Tambahkan opsi value chain di sini -->
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 pl-1">
                      <div class="form-group">
                        <label>Dev Method</label>
                        <select class="form-control" name="dev_method">
                          <option value="">Pilih Dev Method</option>
                          <!-- Tambahkan opsi kategori sistem di sini -->
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label>Infrastructure</label>
                        <select class="form-control" name="infrastructure">
                          <option value="">Pilih Infrastructure</option>
                          <!-- Tambahkan opsi value chain di sini -->
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 pl-1">
                      <div class="form-group">
                        <label>Architecture</label>
                        <select class="form-control" name="architecture">
                          <option value="">Pilih Architecture</option>
                          <!-- Tambahkan opsi kategori sistem di sini -->
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label>Front End Language</label>
                        <input type="text" class="form-control" placeholder="">
                      </div>
                    </div>
                    <div class="col-md-6 pl-1">
                      <div class="form-group">
                        <label>Front End Framework</label>
                        <input type="text" class="form-control" placeholder="">
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label>Back End Language</label>
                        <input type="text" class="form-control" placeholder="">
                      </div>
                    </div>
                    <div class="col-md-4 px-1">
                      <div class="form-group">
                        <label>Back End Framework</label>
                        <input type="text" class="form-control" placeholder="">
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label>Database</label>
                        <input type="number" class="form-control" placeholder="">
                      </div>
                    </div>
                  </div>
                     
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Deskripsi</label>
                            <textarea class="form-control textarea">Deskripsi Aplikasi Anda</textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="update ml-auto mr-auto">
                          <button type="submit" class="btn btn-primary btn-round">Tambahkan Aplikasi</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      
      
 {{ template "footer.html" }}